.todo-list-item {
  font-size: 1.25rem;
  
}

.todo-list-item button {
  width: 35px;
  margin: 3px 3px 3px 0;
}

.todo-list-item-label {
  padding-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.todo-list-item.done .todo-list-item-label {
  text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
  font-weight: bold;
  color: steelblue;
}
@media screen and (max-width: 667px) {
  .todo-list-item button {
    width: 27px;
    margin: 3px 3px 3px 0;
  }
}
@media screen and (max-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .todo-list-item button {
    width: 27px;
    margin: 3px 3px 3px 0;
  }
}
  