.reg-btn {
    margin-top: 0.0rem;
    margin-left: 0rem; 
}
.reg-btn-border {
    border: 1px solid #6C757D;
    padding: 10px;
    border-radius: 10px;
    margin-top: 0.7rem;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.txt {
    padding-top: 6px;
}
@media screen and (max-width: 505px) {
  
}