.registration-form {
    margin-top: 0.7rem;
    border: 1px solid #17A2B8;
    padding: 10px;
    border-radius: 10px;
}
.registration-form input {
    margin-right: 3px;
    margin-bottom: 0.7rem;
}
