.authorization-form {
    margin-top: 0.7rem;
    border: 1px solid #17A2B8;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.authorization-form input {
    margin-right: 3px;
    margin-bottom: 0.7rem;
}

.authorization-form-error {
    margin-top: 0.7rem;
    border: 1px solid #8A0202;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.or-btn {
    padding-top: 7px;
    
}
@media screen and (max-width: 505px) {
    .google-btn{
        padding-left: 8px;
    }
}

