.logout-btn-border {
    margin-top: 0.7rem;
    border: 1px solid #6C757D;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 1rem;
}
.row {
    margin-right:  0px;
    margin-left: 0px;
}
.txt {
    padding-top: 6px;
}