.item-status-filter{
    margin-bottom: 0.4rem;
    
}

@media screen and (max-width: 667px) {
    .item-status-filter {
        margin-bottom: 0.4rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    button {
        justify-content: center;
    }
}
@media screen and (max-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .item-status-filter {
        margin-bottom: 0.4rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    button {
        justify-content: center;
    }
}