.search-input {
  width: auto;
  flex-grow: 1;
  margin-right: 3px;
  margin-bottom: 0.4rem;
}

@media screen and (max-width: 667px) {
  .search-bg {
    margin: 0.4rem auto;
  }
  .search-input {
    width: 100%;
  }
}
@media screen and (max-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .search-bg {
    margin: 0.4rem auto;
  }
  .search-input {
    width: 100%;
  }
}
