.todo-app {
    margin: 2rem auto 0 auto;
    max-width: 500px;
}
  
.top-panel {
    margin: 1rem 0;
}

.main-border {
    margin-top: 0.7rem;
    border: 1px solid #17A2B8;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.search-panel {
    display: flex;
}

@media screen and (max-width: 667px) {
    .search-panel {
        display: block;
        justify-content: center;
    }
    * {
        font-size: 12px;
    }

}
@media screen and (max-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .search-panel {
        display: block;
        justify-content: center;
    }
    * {
        font-size: 12px;
    }
}
